body {
    /* background-image: url("home_image.jpg"); */
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
   }

nav{
    background-color:black;
    height: 3em; */
}
a {
    color: white;
    font-size: 2em;

} 

p{
    text-align: left;
}

#background {
    width: 40%;
    position: relative;
    float:right;
    padding-top: 5%;
}

.text-content{
    padding-top: 5%;
    width: 40%;
    position: relative;
    float:right;
}

.text-content ul{
    font-weight: bold;
}


.image{
    width: 40%;
    position: relative;
    float:left;
    padding-top: 5%;
}

.image img{
    width: 100%;
}